<phpunit
	colors="true"
	verbose="true"
	bootstrap="test/setup.php"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertErrorsToExceptions="true"
	>
		<listeners>
      <listener class="\MyBuilder\PhpunitAccelerator\TestListener">
      </listener>
    </listeners>
</phpunit>

