<phpunit
	colors="true"
	verbose="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	convertErrorsToExceptions="true"
	>
	<testsuites>
        <testsuite name="ProjectName">
          <directory suffix="ExampleTest.php">tests/</directory>
         
        </testsuite>
    </testsuites>
</phpunit>
